# # # # # # # # # # # # # # # # # # # # # # # # # # #
#                    Z O M B I E                    #
# # # # # # # # # # # # # # # # # # # # # # # # # # #

# 💻 Connexion
endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"
#set mysql_connection_string "server=localhost;userid=root;password=;database=zombie"
sv_enforceGameBuild 2699
sv_endpointPrivacy true
## [txAdmin CFG validator]: onesync MUST only be set in the txAdmin settings page.
# set onesync on
setr esx:locale "en"
set mysql_connection_string "mysql://root:@localhost/zombie?waitForConnections=true&charset=utf8mb4"
set mysql_ui true

# 📂 Ressources
ensure chat
ensure spawnmanager
ensure sessionmanager
ensure hardcap

sv_scriptHookAllowed 0

# 📌 Description:
sets tags "default"
sets locale "FR-fr" 
#sets banner_detail "https://url.to/image.png"
#sets banner_connecting "https://url.to/image.png"
sv_hostname "Mrp Zombie | FR/EN"
sets sv_projectName "Mrp Zombie | FR/EN"
sets sv_projectDesc "Zombie server, Dive into a total immersion in a zombie world, RPG server | Serveur de zombies, Plongez dans une immersion totale dans un monde de zombies, serveur RPG"


exec mappings.cfg
exec resources.cfg

# 💪 Droits admin
add_ace group.admin command allow
add_ace group.admin command.quit deny
add_principal identifier.fivem:652130 group.admin #PauLoo
add_principal group.admin group.user
add_ace resource.es_extended command.add_ace allow
add_ace resource.es_extended command.add_principal allow
add_ace resource.es_extended command.remove_principal allow
add_ace resource.es_extended command.stop allow


# 🗝️ Clés
sv_maxclients 48
set steam_webApiKey "D960F137CEF6002A776C261AD30308D1"
sv_licenseKey "cfxk_Qr8zLB1cZauF3VFjfCr9_4dgzvn"