# # # # # # # # # # # # # # # # # # # # # # # # # # #
#                    Z O M B I E                    #
# # # # # # # # # # # # # # # # # # # # # # # # # # #

# 💻 Connexion
endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"
set onesync on
set mysql_connection_string "server=localhost;userid=root;password=Paulon9413#78410@Nantoche78!;database=zombie"
sv_maxclients 48
sv_enforceGameBuild 2545

# 📌 Description:
sv_licenseKey "cfxk_Qr8zLB1cZauF3VFjfCr9_4dgzvn"
sv_hostname "Mrp Zombie | FR/EN"
sets sv_projectName "Mrp Zombie | FR/EN"
sets sv_projectDesc "Zombie server, Dive into a total immersion in a zombie world, RPG server | Serveur de zombies, Plongez dans une immersion totale dans un monde de zombies, serveur RPG"

sets tags "default, official, zombie, fr, en"

# 💪 Droits admin
add_principal group.admin group.user
add_ace group.admin command allow # allow all commands
add_ace group.admin command.quit deny # but don't allow quit
add_ace resource.es_extended command.add_ace allow
add_ace resource.es_extended command.add_principal allow
add_ace resource.es_extended command.remove_principal allow
add_ace resource.es_extended command.stop allow
add_principal identifier.fivem:652130 group.admin #PauLoo

# 🎙️ Chat Vocal
setr voice_enableRadioAnim 1
setr voice_useNativeAudio true
setr voice_useSendingRangeOnly true

# 📂 Ressources
ensure chat
ensure spawnmanager
ensure hardcap
ensure oxmysql
ensure bob74_ipl

ensure pma-voice

ensure zombieoutbreak
ensure main_menu
ensure loading_screen

# 🖼️ Mapping
ensure assets_map
ensure assets_map2
ensure assets_map3
ensure postapo-interior

# 🧥 Vêtements
#ensure Tenue